<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Simple interface to make some music using a raspberry pi">
    <meta name="author" content="Robert Filter">
    <link rel="icon" href="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/musicplayer.css') }}" />
</head>

<body>
    <div class="container-fluid">
        <div class="dateTime" >
            <p id="clock"></p><p>&nbsp;</p>
            <p id="date"></p>
        </div>
        <div id="sl">
            <div class="well">
                <div class="thoitiet">
                    <div class="searchtiet" style="display:flex;margin-bottom:20px;">
                        <input type="text" class="search-bar" id="otiet" placeholder="Tìm kiếm địa điểm">
                        <button id="timtiet">Tìm</button>
                    </div>
                    <div class="weather loading">
                        <div class="city"></div>
                        <div class="temp"></div>
                        <img class="may" src="https://openweathermap.org/img/wn/04n.png" alt="" />
                        <div class="description"></div>
                        <div><span class="humidity"></span></div>
                        <div><span class="wind"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="cover">
                        <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/kygo.png"
                            alt="">   
                    </div>
                    <div class="titre">
                        <div class="songMetaData">Name :</div>
                        <h3>{{ entry.name }}</h3>
                        <div>
                            <div class="songMetaData">Genre :</div>
                            <h3>{{ entry.genre }}</h3>
                        </div>
                        <div>
                            <div class="songMetaData">Rating :</div>
                            <h3>{{entry.rating }}</h3>
                        </div>
                    </div>

                    <div class="lecteur">
                        <audio id="myAudio" controls>
                            <source src="http://localhost:5000/{{ entry.id }}" type="audio/mp3">
                        </audio>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <li>
        </div>
        </div>

        </div>
        <script>
            i = 0
            var x = document.getElementById("myAudio");
            function playAudio() {
                x.play();
            }

            function pauseAudio() {
                x.pause();
            }
            var socket = io()
            socket.connect('https://127.0.0.1:5000/')
            socket.on('connect', function () { })
            socket.on('message', function (msg) {
                console.log(msg)
                if (msg === "play") {
                    console.log("playable")
                    playAudio()

                } else {
                    pauseAudio()
                }
                socket.send("ok")
            })
        </script>

        </script>
        <script type="text/javascript" src="app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='javascript/uiScript.js') }}"> </script>
        <script>
            let weather = {
                apiKey: "062d92a2646152d39eb7845a608226cb",   // Nhập key lấy từ openweathermap.org
                fetchWeather: function (city) {
                    fetch(
                        "https://api.openweathermap.org/data/2.5/weather?q=" +
                        city +
                        "&lang=vi&units=metric&appid=" +
                        this.apiKey
                    )
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error("Không có địa điểm");
                            }
                            return response.json();
                        })
                        .then((data) => this.displayWeather(data));
                },
                displayWeather: function (data) {
                    const { name } = data;
                    const { icon, description } = data.weather[0];
                    const { temp, humidity } = data.main;
                    const { speed } = data.wind;
                    const { country } = data.sys;
                    document.querySelector(".city").innerText = name + " , " + country;
                    document.querySelector(".may").src = "https://openweathermap.org/img/wn/" + icon + ".png";
                    document.querySelector(".description").innerText = description;
                    document.querySelector(".temp").innerText = temp + "°C";
                    document.querySelector(".humidity").innerText =
                        "Độ ẩm: " + humidity + "%";
                    document.querySelector(".wind").innerText =
                        "Gió: " + speed + " km/h";
                },
                search: function () {
                    this.fetchWeather(document.querySelector(".search-bar").value);
                },
            };

            document.querySelector(".searchtiet button").addEventListener("click", function () {
                weather.search();
            });

            document
                .querySelector(".search-bar")
                .addEventListener("keyup", function (event) {
                    if (event.key == "Enter") {
                        weather.search();
                    }
                });
            weather.fetchWeather("ho chi minh");
        </script>
</body>

</html>