<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Simple interface to make some music using a raspberry pi">
    <meta name="author" content="Robert Filter">
    <link rel="icon" href="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/musicplayer.css') }}" />
</head>

<body>
    <div class="container-fluid">
        <div id="sl">
            <div class="well">
                <div class="row">
                    <div class="cover">
                        <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/kygo.png"
                            alt="">   
                    </div>
                    <div class="titre">
                        <div class="songMetaData">Name :</div>
                        <h3>{{ entry.name }}</h3>
                        <div>
                            <div class="songMetaData">Genre :</div>
                            <h3>{{ entry.genre }}</h3>
                        </div>
                        <div>
                            <div class="songMetaData">Rating :</div>
                            <h3>{{entry.rating }}</h3>
                        </div>
                    </div>

                    <div class="lecteur">
                        <audio id="myAudio" controls>
                            <source src="http://localhost:5000/{{ entry.id }}" type="audio/mp3">
                        </audio>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <li>
        </div>
        </div>

        </div>
        <script>
            i = 0
            var x = document.getElementById("myAudio");
            function playAudio() {
                x.play();
            }

            function pauseAudio() {
                x.pause();
            }
            var socket = io()
            socket.connect('https://127.0.0.1:5000/')
            socket.on('connect', function () { })
            socket.on('message', function (msg) {
                console.log(msg)
                if (msg === "play") {
                    console.log("playable")
                    playAudio()

                } else {
                    pauseAudio()
                }
                socket.send("ok")
            })
        </script>

        </script>
        <script type="text/javascript" src="app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>